{% extends 'base.html' %}
{% block contents%}


<body>
{% for blog in posts %}
    <div class="container">
    <br><br>
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">제목: {{blog.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">날짜: {{blog.pub_date}}</h6>
        <p class="card-text">본문 미리보기: {{blog.summary}} </p>
        <a href="#" class="card-link"><a href="{% url 'detail' blog.id %}">...더보기</a></a>
        </div>
    </div>
{% endfor %}
{#First Previeous 3of4 Next Last#}

<div class="container">

    {#First Previous#}
    {% if posts.has_previous %}
    <a href="?page=1">처음</a>
    <a href="?page={{posts.previous_page_number}}">이전</a>
    {%endif%}
    {#3of4#}
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>
    {#Next Last#}
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">다음</a>
    <a href="?page={{posts.paginator.num_pages}}">마지막</a>
    {%endif%}


</div>
</body>
{% endblock %}